@import "./header.scss";
@import "./main.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$brand_blue: #0282f9;
$brand_color: white;

// .container {
//     max-width: 95%;
//     margin: 0 auto;
// }

